{% extends "base.html" %}
{% load static %}

{% block title %}
Search Books
{% endblock title %}

{% block content %}
<h1 align="center">Search Books</h1>
<form class="form-inline justify-content-center mt-4" action="" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-sm-4">
            {% if query %}
                <input type="search" class="form-control me-2" id="query" name="query"
                       placeholder="Search books" maxlength="100" minlength="1" value="" required>
            {% else %}
                <input type="search" class="form-control" id="query" name="query"
                       placeholder="Search books" maxlength="100" minlength="1" required>
            {% endif %}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark">
                <img src="{%  static 'yellow_lens.png' %}"  width="30" />
                </button>
        </div>
    </div>
</form>
{% if query %}
    <h3>Results for "{{ query }}"</h3>
<br>
<table class="table table-hover table-borderless bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Cover</th>
            <th class="text-center" scope="col">Seller</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td class="text-center align-middle">
                <a href="{% url 'book_detail' book.id %}"> {{ book.name }} </a>
            </td>
            <td class="text-center align-middle">
                <img src="{% static book.pic_path %}" width="60" height="90">
            </td>
            <td class="text-center align-middle">
                {{ book.username }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}