@charset "utf-8";

#leftsidebar {
    width: 180px;
    height: 350px;
    float: left;
}

#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #5f5f5f;
    color: #4c4c4c;
    left: 0px;
    list-style-position: inside;
    margin-left: -10px;
}



#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}